name: semantic-release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  pytest_39:
    if: contains(github.event.head_commit.message, ':')
    uses: ./.github/workflows/pytest-3.9.yml

  pytest_311:
    if: contains(github.event.head_commit.message, ':')
    uses: ./.github/workflows/pytest-3.11.yml

  release-on-tests-success:
    needs: [pytest_39, pytest_311]
    if: ${{ github.repository == 'Mips2648/jeedom-daemon-py'}}
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      contents: write
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment:
      name: release
      url: https://pypi.org/p/jeedomdaemon

    steps:
    - name: Checkout Repository on Release Branch
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref_name }}
        fetch-depth: 0

    - name: Force release branch to be at workflow sha
      run: |
        git reset --hard ${{ github.sha }}

    - name: Python Semantic Release
      id: semantic-release
      uses: python-semantic-release/python-semantic-release@v9.21.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish | Upload package to PyPI
      uses: pypa/gh-action-pypi-publish@v1.12.4
      if: steps.semantic-release.outputs.released == 'true'

    - name: Publish | Upload to GitHub Release Assets
      uses: python-semantic-release/publish-action@v10.4.1
      if: steps.semantic-release.outputs.released == 'true'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ steps.semantic-release.outputs.tag }}
